# Object files
*.o
*.ko
*.obj
*.elf
*.PBP
*.prx
*.SFO

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Releases & oputput folders
release/
release_oe/

# Built tools
pspsh/pspsh
tools/remotejoy/pcsdl/remotejoy
tools/remotejoy/pc/remotejoy
usbhostfs_pc/usbhostfs_pc