<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>

  <body>
    <header>
      <div class="container">
          <a id="a-title" href="{{ '/' | relative_url }}">
            <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
          </a>
          <h2>{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

          <section id="downloads">
            <a href="https://github.com/pspdev/psplinkusb/releases/tag/latest" class="btn">Download</a>
            <a href="https://github.com/pspdev/psplinkusb/raw/master/psplink_manual.pdf" class="btn">Documentation</a>
            <a href="https://pspdev.github.io/" class="btn">PSPDEV</a>
            <a href="https://discord.gg/bePrj9W" class="btn">Discord</a>
            <a href="https://github.com/pspdev/psplinkusb" class="btn btn-github"><span class="icon"></span>GitHub</a>
          </section>
        </div>
      </header>

      <div class="container">
        <section id="main_content">
          {{ content }}
        </section>
     </div>
  </body>
</html>